.app {
  margin: 60px 0;
}

.main-content {
  margin: var(--common-padding) auto 0 auto;
  max-width: var(--max-width);

  &__box {
    border: 3px solid #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
    background-color: #fff;

    &__inner {
      background-color: var(--base-background-color);
      border: 3px solid #fff;
      height: 100%;
      border-radius: 12px;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}