.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__weather-day0 {
    display: flex;
    align-items: center;
  }
  
  &__temperature {
    font-family: 'Gotham Nights', sans-serif;
    font-size: var(--text-5xl);
    letter-spacing: 0.05em;

    &--small {
      font-size: var(--text-3xl);
    }
  }

  &__icon--big {
    width: 256px;
    height: 256px;
  }

  &__icon--small {
    width: 128px;
    height: 128px;
  }

  &__status {
    font-size: var(--text-2xl);
    font-weight: 100;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
  
  &--day0 { 
    grid-area: 1 / 1 / 2 / 5; 
    border-bottom: 6px solid #fff; 
    padding-top: var(--common-padding); 
  
  }
  &--day1 { 
    grid-area: 2 / 1 / 3 / 2; 
    border-right: 6px solid #fff; 
  }

  &--day2 { 
    grid-area: 2 / 2 / 3 / 3; 
    border-right: 6px solid #fff 
  }

  &--day3 { 
    grid-area: 2 / 3 / 3 / 4; 
    border-right: 6px solid #fff 
  }

  &--day4 { 
    grid-area: 2 / 4 / 3 / 5; 
  }
}