@font-face {
  font-family: 'Gotham Nights';
  src: url('fonts/Gotham-Nights-Bold.ttf.woff') format('woff');
}

@font-face {
  font-family: 'Compass LT';
  src: url('fonts/Compass-LT.ttf.woff') format('woff');
}
