body {
  color: var(--main-font-color);
  background-color: var(--base-background-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-font-color);
}

h2 {
  font-size: var(--text-2xl);
  font-weight: 100;
  letter-spacing: 0.03em;
}