$text-sizes: (
  5xl:  6rem,    // 96px
  4xl:  3.375rem,// 54px
  3xl: 	3rem,    // 48px
  2xl: 	2.25rem,    // 36px
  xl:  	2rem,    // 32px
  lg:  	1.5rem,  // 24px
  md:  	1.25rem, // 20px 
  base:	1rem,    // 16px 
  sm:  	875rem,  // 14px
  xs:  	0.75rem, // 12px 
  xss: 	0.50rem  // 10px
);

$font-weights: (
  semibold: 600,
  regular:  400,
  thin:     100
);

:root {
	@each $name, $size in $text-sizes {
		--text-#{$name}: #{$size};
	}

	@each $name, $weight in $font-weights {
		--font-weight-#{$name}: #{$weight};
	}

	--max-width: 1200px;
  --base-background-color: #eef6fb;
  --main-font-color: #484a4f;
  --active-font-color: #5fb0e8;
  --icon-color: #2e4369;
  --common-padding: 60px;
}