.main-nav {
  margin: 0 auto;
  max-width: var(--max-width);

  &__menu {
    display: flex;
    justify-content: center;
    gap: 0 60px;

    &__item {
      list-style: none;

      button {
        font-size: var(--text-3xl) !important;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: var(--main-font-color);
        font-weight: 100;
      }

      &--active button {
        color: var(--active-font-color);
        font-weight: 500;
      }
    }
  }
}